APP_NAME="BrainrotGen API"
APP_VERSION="0.1.0"
API_V1_PREFIX="/api/v1"
API_BASE_URL="http://127.0.0.1:8000"
DEBUG=false
SQLITE_DB_PATH="./app.db"
ELEVENLABS_API_KEY=""
VOICE_ID=""
MODEL_ID="eleven_flash_v2_5"
OUTPUT_FORMAT="mp3_44100_128"
